@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cyber Grid Background */
.cyber-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(0, 255, 65, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 255, 65, 0.05) 1px, transparent 1px);
}

body {
  background-color: #020617;
  color: white;
}